<!-- Header Section Begin -->
{% load static %}
<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="logo">
                    <a href="#">
                        <img src="{% static 'img/logo.png' %}" alt="studio logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="main-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="./index.html">Главная</a></li>
                        <li><a href="./about-us.html">Обо мне</a></li>
                        <li><a href="./gallery.html">Мои работы</a>
                            <ul class="dropdown">
                                <li><a href="#">Naoh</a></li>
                                <li><a href="#">Padis</a></li>
                                <li><a href="#">Jacob</a></li>
                                <li><a href="#">Gomez</a></li>
                            </ul>
                        </li>
                        <li><a href="./contact.html">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->
